In [27]:
import pandas as pd
import geopandas as gpd
import matplotlib.pyplot as plt
import glob
import os

In [28]:
data = pd.read_csv('tz_popdens_sample.csv')

In [29]:
data.head()

   population_count  latitude  longitude
0           3.48218 -6.022005  35.719076
1           3.48218 -6.022005  35.722132
2           3.48218 -6.022005  35.722409
3           3.48218 -6.022005  35.733520
4           3.48218 -6.022005  35.744354

In [30]:
gdf = gpd.GeoDataFrame(data, geometry=gpd.points_from_xy(data.latitude, data.longitude))

In [31]:
gdf.head()

   population_count  latitude  longitude                   geometry
0           3.48218 -6.022005  35.719076  POINT (-6.02200 35.71908)
1           3.48218 -6.022005  35.722132  POINT (-6.02200 35.72213)
2           3.48218 -6.022005  35.722409  POINT (-6.02200 35.72241)
3           3.48218 -6.022005  35.733520  POINT (-6.02200 35.73352)
4           3.48218 -6.022005  35.744354  POINT (-6.02200 35.74435)

In [32]:
gdf.to_pickle('gdf.pk1')

In [34]:
folder_path = '/ml_preds_csv'
dataframes_combination = []
for file in glob.glob(os.getcwd() + folder_path + '/*.csv'):
    new_dataframe = pd.read_csv(file)
    dataframes_combination.append(new_dataframe)

In [35]:
total_dataframe = pd.concat(dataframes_combination, ignore_index=True)

In [36]:
total_dataframe.head()

   pixel_i  pixel_j  val  latitude  longitude
0        0      241    7 -6.271618  35.816723
1        0      242   21 -6.271618  35.816728
2        0      243   36 -6.271618  35.816733
3        0      244   42 -6.271618  35.816739
4        0      245   43 -6.271618  35.816744

In [37]:
len(total_dataframe)

147879651

In [38]:
total_dataframe.to_pickle('Master_Roads.pk1')

OSError: [Errno 28] No space left on device