In [13]:
import pandas as pd
import geopandas as gpd
import matplotlib.pyplot as plt

In [14]:
data = pd.read_csv('tz_popdens_sample.csv')

In [15]:
data.head()

   population_count  latitude  longitude
0           3.48218 -6.022005  35.719076
1           3.48218 -6.022005  35.722132
2           3.48218 -6.022005  35.722409
3           3.48218 -6.022005  35.733520
4           3.48218 -6.022005  35.744354

In [16]:
gdf = gpd.GeoDataFrame(data, geometry=gpd.points_from_xy(data.latitude, data.longitude))

In [17]:
gdf.head()

   population_count  latitude  longitude                   geometry
0           3.48218 -6.022005  35.719076  POINT (-6.02200 35.71908)
1           3.48218 -6.022005  35.722132  POINT (-6.02200 35.72213)
2           3.48218 -6.022005  35.722409  POINT (-6.02200 35.72241)
3           3.48218 -6.022005  35.733520  POINT (-6.02200 35.73352)
4           3.48218 -6.022005  35.744354  POINT (-6.02200 35.74435)

In [ ]:
gdf.to_pickle('gdf.hd')