In [69]:
import pandas as pd
import geopandas as gpd
import matplotlib.pyplot as plt
import glob
import os

In [70]:
data = pd.read_csv('tz_popdens_sample.csv')

In [71]:
data.head()

   population_count  latitude  longitude
0           3.48218 -6.022005  35.719076
1           3.48218 -6.022005  35.722132
2           3.48218 -6.022005  35.722409
3           3.48218 -6.022005  35.733520
4           3.48218 -6.022005  35.744354

In [76]:
data.latitude = data.latitude.apply(lambda x: round(x,3))
data.longitude = data.longitude.apply(lambda x: round(x,3))

In [77]:
len(data)

101563

In [78]:
newData = data.drop_duplicates()
len(newData)

27598

In [52]:
newData.to_csv('Reduced_Pop_Density.csv')

In [79]:
population_density = gpd.GeoDataFrame(newData, geometry=gpd.points_from_xy(newData.latitude, newData.longitude))

In [82]:
population_density.head()

   population_count  latitude  longitude                   geometry
0           3.48218    -6.022     35.719  POINT (-6.02200 35.71900)
1           3.48218    -6.022     35.722  POINT (-6.02200 35.72200)
3           3.48218    -6.022     35.733  POINT (-6.02200 35.73300)
4           3.48218    -6.022     35.744  POINT (-6.02200 35.74400)
5           3.48218    -6.022     35.745  POINT (-6.02200 35.74500)

In [83]:
folder_path = '/ml_preds_csv'
dataframes_combination = []
total_len = 0
for file in glob.glob(os.getcwd() + folder_path + '/*.csv'):
    new_dataframe = pd.read_csv(file)
    print(len(new_dataframe))
    new_dataframe = new_dataframe[(new_dataframe.val > 75)] # get rid of values under 75
    new_dataframe.latitude = new_dataframe.latitude.apply(lambda x: round(x,3)) #round lat
    new_dataframe.longitude = new_dataframe.longitude.apply(lambda x: round(x,3)) #round long
    new_dataframe = new_dataframe.drop_duplicates()
    road_geo = gpd.GeoDataFrame(new_dataframe, geometry=gpd.points_from_xy(new_dataframe.latitude, new_dataframe.longitude))
    #print(new_dataframe.head(50))
    break
    
    total_len += len(new_dataframe)
    dataframes_combination.append(new_dataframe)
    print(len(new_dataframe))
    break

1320517
568459

In [8]:
total_dataframe = pd.concat(dataframes_combination, ignore_index=True)

In [9]:
total_dataframe.head()

   pixel_i  pixel_j  val  latitude  longitude
0        0      241    7 -6.271618  35.816723
1        0      242   21 -6.271618  35.816728
2        0      243   36 -6.271618  35.816733
3        0      244   42 -6.271618  35.816739
4        0      245   43 -6.271618  35.816744

In [10]:
len(total_dataframe)

147879651

In [11]:
total_dataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 147879651 entries, 0 to 147879650
Data columns (total 5 columns):
pixel_i      int64
pixel_j      int64
val          int64
latitude     float64
longitude    float64
dtypes: float64(2), int64(3)
memory usage: 5.5 GB

In [13]:
gdf = gpd.GeoDataFrame(data, geometry=gpd.points_from_xy(total_dataframe.latitude, total_dataframe.longitude))

KeyboardInterrupt: